.navbar {
  background: #34495e;
}

.navbar span {
  color: #fff;
  margin-right: 10px;
}

.main {
  background: #2B9684;
  text-align: center;
  padding: 10px 0 10px 0;
}

.title {
  color: #fff;
}

.navbar .btn-link:hover, .navbar-brand:hover {
  color: #fff;
}

.btn-link:hover {
  color: #fff;
}

.columns.multiline {
  flex-wrap: wrap;
}

.modal-header {
  background: #2B9684;
  color: #fff;
}

.modal-header .btn {
  color: #fff;
}

.toast-message {
  background: #E85600;
  padding: 10px 15px 10px 15px;
  color: #fff;
}

.toast-message .btn {
  color: #fff;
}
