<div class="container main">
  <img src="/public/img/logo.png" />
  <h2 class="title">MovieSw<i class="fa fa-refresh"></i>p</h2>
  <p class='empty-meta'>Trading easily your abandon-movies!</p>
</div>
<div class="container text-center">
  <div class="columns">
    <div class="column">
      <div class="empty big">
        <i class="fa fa-users fa-5x"></i>
        <p class="empty-title">Very Social</p>
        <p class="empy-meta">Create an account and trade movies instantly with other users</p>
      </div>
    </div>
    <div class="column">
      <div class="empty big">
        <i class="fa fa-ticket fa-5x"></i>
        <p class="empty-title">A lot of movies</p>
        <p class="empy-meta">Search and add any movies in your collection</p>
      </div>
    </div>
    <div class="column">
      <div class="empty big">
        <i class="fa fa-heart fa-5x"></i>
        <p class="empty-title">Trade and favorites</p>
        <p class="empy-meta">Vote for you favorite movie or trade it!</p>
      </div>
    </div>
  </div>
</div>
